body {
	background: #f2f2f2;
}

#main {
	background: #fff;
	padding-bottom: 20px;
}

.videoListing {
	border: 1px solid silver;
	margin: 0 0 5px 0;
	padding: 5px;
	border-radius: 9px 0 9px 0;
}

.videoThumb {
	display: block;
	padding: 2px;
}

.videoThumb img {
	border: 1px solid #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.videoDesc {
	display: block;
	padding: 2px;
	float: right;
	width: 580px;
	font: 11px arial, sans-serif;
}

.videoDesc h3 {
	font: bolder 14px arial, sans-serif;
}

div.clear {
	clear: both;
}

p {
	line-height: 150%;
}

#playlist {
	border: 3px solid pink;
	min-height: 50px;
	text-align: center;
	color: pink;
}